.is-ctl-product {
  .content-main {
    .container {
      max-width: 100%;
      padding: 0;
    }
    .nav-item {
      background: #F7F7F7;
    }
  }
  .product-detail-content, .product-detail-tabs {
    max-width: 1316px;
    margin: 0 auto;
  }
  .detail-main-image {
    position: relative;
    img {
      max-width: 100%;
    }
    .svg-icon {
      position: absolute;
      bottom: -55px;
      z-index: 10;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
  .product-detail-tab-navigation-list {
    display: flex;
    justify-content: center;
  }
  .product-detail-tab-navigation-link {
    font-size: 40px;
    line-height: 52px;
    border: none;
    color: #3A3E4A;
    font-weight: 300;
    background: #F7F7F7;
  }
  .gallery-slider-controls {
    position: relative;
  }
  .product-detail-cross-selling {
    max-width: 100%;
  }
  .product-box .card-body {
    padding: 20px 35px 35px 25px;
  }
  .cms-element-product-slider {
    padding-top: 0;
  }
  .overlay {
    position: absolute;
    height: 240px;
    width: 2000px;
    left: -300px;
    background: #F7F7F7;
    top: -40px;
  }
}

//////
.is-ctl-product {
  .product-detail-main {
    .base-slider-controls-next[disabled], .base-slider-controls-next {
      padding-left: 3px;
    }
    .base-slider-controls-prev[disabled], .base-slider-controls-prev {
      padding-right: 1px;
    }
    .base-slider-controls-prev, .base-slider-controls-next {
      opacity: 1;
    }
    .gallery-slider-thumbnails-controls-prev-inside {
      left: 0;
    }
    .gallery-slider-thumbnails-controls-next-inside {
      right: 0;
      z-index: 100;
      top: 36px;
      border: 0;
    }
  }
  .base-slider-controls-prev:hover, .base-slider-controls-next:hover {
    border: 0;
  }
  .base-slider-controls-prev[disabled], .base-slider-controls-next[disabled] {
    .icon {
      color: #dcd2d2;
    }
  }
  .gallery-slider-thumbnails-item.tns-nav-active .gallery-slider-thumbnails-item-inner {
    &:before {
      background-color: #000;
    }
  }
  .gallery-slider-row {
    flex-direction: column;
  }
}

.gallery-slider-thumbnails-container {
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}

.product-cross-selling-tab-navigation{
  display: flex;
  justify-content: center;
}

.cms-element-product-slider {
  .product-price-info {
    margin-top: 0;
  }
  .product-price-unit {
    display: none;
  }
  .product-box {
    border: none;
  }
  .product-info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and(max-width: 480px) {
  .gallery-slider-thumbnails {
    display: flex !important;
  }
  .gallery-slider-thumbnails-container {
    position: relative;
    max-width: 90%;
    margin: 10px auto;
    margin-bottom: 0;
    padding: 0;
  }
  .gallery-slider-thumbnails-col.is-left {
    padding-right: 0;
    padding-left: 0;
  }
  .buy-widget-container {
    .col-8 {
      min-width: 100%;
    }
  }
}

.gallery-slider-thumbnails-item-inner  {
  padding: 0 1px;
}
@media (max-width: 768px) {
  .gallery-slider-item.is-cover, .gallery-slider-item.is-contain {
    min-height: 430px !important;
  }
  .gallery-slider-item.is-contain .gallery-slider-image,
  .gallery-slider-single-image.is-contain .gallery-slider-image {
    margin: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
  .gallery-slider-col {
    padding: 0;
  }
}

.gallery-slider-thumbnails-container {
  .tns-outer {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #productDetailPageBuyProductForm {
    .col-8 {
      min-width: 100%;
      max-width: 100%;
    }
  }
  #pills-tab {
    max-width: 99%;
  }
  .product-detail-buy .tab-pane {
    max-width: 99%;
  }
  html, body {
    overflow-x: hidden;
  }
  .is-ctl-product {
    .container-main {
      padding: 20px 20px;
    }
    .footer-main {
      padding: 30px 10px;
    }
    .gallery-slider-thumbnails-item {
      cursor: pointer;
      height: 100%;
      width: 100%;
    }
  }
}

.gallery-slider-thumbnails-image, .gallery-slider-image {
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
}

@media (max-width: 480px) {
  .gallery-slider-item.is-contain .gallery-slider-image {
    margin-left: 0;
  }
}

.product-breadcrumb {
  .breadcrumb-placeholder {
    .icon-arrow-medium-right {
      position: relative;
      &:before {
        content: "";
        display: block;
        position: relative;
        width: 9px;
        height: 15px;
        background-image: url(../assets/icons/bread-arrow.svg);
        right: 0;
        background-repeat: no-repeat;
        top: 3px;
      }
    }
  }
  svg {
    display: none;
  }
   a.is-active {
    color: #4a545b;
  }
}

.product-detail-media {
  z-index: 10;
}

.row-benefit {
  position: relative;
  top: -122px;
}

.gallery-slider-thumbnails-image, .gallery-slider-image {
  object-fit: contain;
}

.product-detail-content {
  z-index: 10000;
  position: relative;
}
.modal.zoom-modal {
  .gallery-slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

.product-detail-cross-selling {
  .card-tabs .card-body {
    padding-top: 0;
  }
  .card-tabs {
    background: transparent;
  }
  .card-tabs {
    background: #f7f7f7;
  }
  .nav-link.active {
    background: transparent;
  }
}

.product-detail-tabs, .product-cross-selling-tab-navigation, .product-detail-cross-selling {
  position: relative;
  z-index: 10;
}

.product-detail-manufacturer-link {
  width: 240px;
  height: 114px;
  display: block;
  img {
    min-width: 100%;
    min-height: 100%;
  }
}
