.footer-main {
  background: $footer;
  .footer-bottom {
    padding: 0;
  }
  .container {
    max-width: 1300px;
    padding: 0;
    overflow: hidden;
  }
  .footer-columns {
    margin-top: 180px;
  }
  .footer-column-content {
    margin-top: 30px;
    .footer-link, a, p, span {
      color: $white;
      font-size: 16px;
      line-height: 32px;
      font-weight: 300;
    }
  }
  .footer-column-headline {
    color: $white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid $border;
    padding-bottom: 10px;
    line-height: 15px;
  }
  .not-border {
    display: flex;
    justify-content: center;
    position: relative;
    .footer-headline {
      padding: 0 10px;
      background: $footer;
      position: relative;
      z-index: 10;
      border: none;
      margin-bottom: 0;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      display: block;
      height: 1px;
      background: $white;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1;
    }
  }
  #collapseFooterHotlineOne {
    margin-top: 16px;
    img {
      max-width: 100%;
    }
  }
  .social {
    text-decoration: none;
    margin-bottom: 10px;
    .text-footer {
      color: $white;
      margin-left: 15px;
      font-size: 16px;
      font-weight: 300;
    }
  }
  .footer-column-content {
    .btn-footer {
      min-width: 206px;
      height: 46px;
      text-transform: uppercase;
      font-size: 14px;
      color: $primary;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      background: $white;
      text-decoration: none;
    }
  }
  .footer-svg {
   svg {
     z-index: 10;
     padding-left: 10px;
     padding-right: 10px;
     background: $footer;
     margin-left: 25px;
   }
  }
  .text-copyright {
    font-size: 12px;
    font-weight: 300;
    color: $border;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 21px;
  }
}
.footer-top-wrapper {
  background: $grey;
  height: 551px;
  position: relative;
}
.footer-top {
  max-width: 1380px;
  height: 550px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -120px;
  width: 100%;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 20;
  .footer-top-content {
    padding: 70px;
    h2 {
      font-size: 40px;
      font-weight: 300;
      line-height: 52px;
      margin-bottom: 0;
    }
    .subtitle {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 25px;
      margin-top: 25px;
      font-weight: 300;
    }
    .advances {
      margin-bottom: 20px;
    }
    .advance {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      p {
        font-weight: bold;
        font-size: 20px;
        line-height: 49px;
        margin-bottom: 0;
        margin-left: 15px;
      }
    }
  }
  .form-newsletter {
    form {
      display: flex;
      align-items: center;
    }
    .newsletter-input {
      width: 261px;
      height: 51px;
      padding-left: 20px;
      border: 1px solid #fff;
      margin-right: 15px;
    }
    .form-btn {
      background: #879200;
      color: #fff;
      height: 51px;
      width: 192px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      span {
        margin-left: 10px;
      }
    }
  }
}
