.main-navigation {
  position: relative;
  display: flex;
  align-items: center;
  .header-cart-total {
    display: none;
  }
  .header-cart-badge {
    background: #879200;
    width: 22px;
    height: 22px;
    font-size: 12px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -6px;
    right: -12px;
  }

  .header-cart-total {
    display: none;
  }

  @media (min-width: 1400px) {
    .container, .cms-section .boxed {
      max-width: 1317px;
      padding: 0;
    }
  }
  .left-category, .right-category {
    display: flex;
  }
  .header-actions-col {
    display: flex;
  }
  .searc-svg {
    background: $green;
    border: 1px solid $green;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }
  @media (min-width: 991px) {
    .main-navigation-menu {
      justify-content: space-between;
    }
    .header-logo-col {
      padding: 0;
    }
    .header-actions-col {
      padding: 0;
    }
    .header-search-col {
      position: absolute;
      bottom: -40px;
    }
    .main-navigation-link-text {
      display: flex;
      align-items: center;
      span {
        text-transform: uppercase;
        font-size: 15px;
        color: $nav;
      }
      img {
        margin-right: 10px;
      }
    }
  }
}

body {
  .main-navigation-link.active .main-navigation-link-text {
    border: none;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      bottom: -45px;
      background: $green;
      height: 2px;
    }
  }
  .sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 70px;
    background: $white;
    box-shadow: 0 4px 10px -4px rgb(18 18 18 / 20%);
    .main-navigation-link.active .main-navigation-link-text:before {
      bottom: -22px;
    }
    .container {
      height: 70px;
    }
    .main-navigation-menu {
      align-items: flex-start;
      padding-top: 15px;
    }
    .header-logo-main-link {
      overflow: hidden;
      background: $white;
      height: 35px;
      img {
        height: 40px;
        object-fit: cover;
      }
    }
  }
}



.is-act-home {
  .breadcrumb {
    display: none;
  }
}

.top-info {
  padding-top: 7px;
  .first-svg {
    top: -2px;
    position: relative;
  }
  i {
    margin-right: 3px;
    position: relative;
  }
  span {
    font-size: 13px;
    margin-right: 20px;
  }
}

.header-main {
  min-height: 86px;
  background: $grey;
  display: flex;
  align-items: center;
  .container {
    padding: 0;
    max-width: 1317px;
  }
}

#serviceMenuDropdown-top-bar {
  i {
    position: relative;
    top: 0;
    left: -1px;
  }
}
.dropdown-toggle::after {
  display: none;
}
.top-bar-nav-text {
  font-size: 13px;
}

.container-main {
  padding-top: 0;
}

.main-navigation-menu {
  min-height: 120px;
  display: flex;
  align-items: center;
}

.header-cart-btn, .account-menu-btn {
  padding: 0 8px;
}

@media (min-width: 991px) {
  .main-navigation .header-search-col {
    bottom: 2px;
  }
  .header-search {
    position: relative;
    background: $white;
    z-index: 10;
  }
}
.account-menu-btn {
  i {
    position: relative;
    top: -1px;
  }
}

.header-cart-icon {
  position: relative;
  top: -2px;
}
.top-bar-nav-text-right {
  margin-left: 30px;
  i {
    margin-right: 3px;
    position: relative;
    top: -1px;

  }
}
