{% block sw_cms_block_image_text_rows_preview %}
    <div class="sw-cms-preview-images-text-rows">
        <div>
            <img :src="'/allco/static/img/cms/image-text-categorys.jpg' | asset">
        </div>
    </div>
{% endblock %}
